body {
    background: grey;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "san-serif";
    font-size: 18px;
    color: "#777";
    width: 960px;
    margin: 0;
    padding: 0;
}

.header1 {
    background: #ebebeb;
    color: #777;
    width: 910px;
    margin: 20px;
    padding: 30px;
    text-align: center;
}

nav {
    width: 910px;
    background: #ebebeb;
    color: #777;
    margin: 20px;
    padding: 30px;
    text-align: center;
}

.wrapper {
    margin: 20px 0px 20px 20px;
    background: #777;
    height: 300px;
    width: 960px;
    overflow: auto;
}

.section1 {
    float: left;
    background: #ebebeb;
    color: #777;
    width: 435px;
    height 100%;
    padding: 40px 20px 160px 20px;
    text-align: center;
    margin: 0px 20px 0px 0px;
    z-index: 2;
}

.article1 {
    background: #777;
    color: #ebebeb;
    height: 100%;
    width: 90%;
    padding-top: 20px;
    z-index: 3;
    position: relative;
    left: 20px;
    top: 30px;
    overflow: auto;
}

.pheading {
    background: #ebebeb;
    color: #777;
    padding-top: 10px;
    height: 25%;
    width: 90%;
    z-index: 4;
    position: relative;
    left: 15px;
    top: 30%;
    overflow: auto;
}

.pbody {
    background: #ebebeb;
    color: #777;
    padding-top: 10px;
    height: 25%;
    width: 90%;
    z-index: 4;
    position: relative;
    left: 15px;
    top: 75%;
    overflow: auto;
}

aside {
    float: left;
    background: #ebebeb;
    color: #777;
    text-align: center;
    width: 465px;
    height: 100%;
    margin: 0px;
    padding: 40px 0px 160px 0px;
    overflow: auto;
}

.clear {
    clear: both;
}

footer {
    overflow: auto;
    background: #ebebeb;
    color: #777;
    width: 910px;
    margin: 20px;
    padding: 30px;
    text-align: center;
}